<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colze"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.example.colze.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/base_theme" >
        <activity
            android:name="com.example.colze.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.colze.test.TestActivity"
            android:label="测试界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.HomeActivity"
            android:label="主界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.ReadyActivity"
            android:label="做题准备界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.TopicActivity"
            android:label="做题界面"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.example.colze.ResultActivity"
            android:label="做题结束界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.TopicCollectionActivity"
            android:label="全部课程界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.MainActivity"
            android:label="登录界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.RegisterActivity"
            android:label="注册界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.RegisterFirstActivity"
            android:label="注册第一步界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.RegisterSecondActivity"
            android:label="注册第二步界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.ChoiceIconActivity"
            android:label="选择头像"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.BuyActivity"
            android:label="购买界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.ErrTableActivity"
            android:label="错题库界面"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.colze.CorrectionAnalysisActivity"
            android:label="订正本做题分析界面"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>